/* Tabs customizations */
/* tab {
    font-family: "Roboto" !important;
    padding: 1px !important;
  }
:root {
  --tab-toolbar-navbar-overlap: 0px !important;
  --tab-min-height: 28px !important;
 }
 :root #tabbrowser-tabs {
  --tab-min-height: 28px !important;
 } */

/* Free space above tabs */
/* #tabbrowser-tabs {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding: none !important;
} */

/* Bookmarks toolbar tuning */
#PlacesToolbarItems .bookmark-item {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  /* margin-bottom: 6px !important; */
  font-size: 13.4px !important;
  font-family: "Roboto" !important;
  
}

#toolbar
/* Disable bookmarks toolbar bottom border */
menubar,
toolbox,
toolbar {
  border: none !important;
}


/* Buttons and urlbar margins */
.toolbarbutton-1 {
    margin-top: 4px !important;
}
#urlbar {
    margin-top: 4px !important;
}
.toolbaritem-combined-buttons {
    /* filter: grayscale(100%) !important; */
    margin-top: 4px !important;
}

/* #TabsToolbar { 
  margin-top: 20px !important;
  margin-bottom: 1px !important;
  --lwt-tab-line-color: transparent !important;
  --toolbarseparator-color: var(--sidebar-background-color) !important;
} */

#PlacesToolbarItems {
  /* display: flex !important; */
  justify-content: center !important; 
  /* border-image: linear-gradient(to top, var(--general-color) 20%, transparent 50%) 1 !important; */
}
  
/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */

/* #editBMPanel_locationRow {
  visibility: visible !important;
} */

/* Removing top border of toolbar panel */
/* #nav-bar {
	box-shadow: none !important;
} */
