/* Bookmarks toolbar tuning */
#PlacesToolbarItems .bookmark-item {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin-bottom: 4px !important;
  font-size: 14px !important;
  font-family: "Roboto" !important;

}

/* CSS to make Firefox tab close buttons rectangular */
.tabbrowser-tab .tab-close-button {
  border-radius: 4.6px !important;
  shape-outside: inset(0) !important;
  clip-path: inset(0) !important;
}

/* Disable bookmarks toolbar bottom border */
#toolbar
menubar,
toolbox,
toolbar {
  border: none !important;
}

/* Urlbar tuning */
#urlbar {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

#urlbar-background {
  border: 1px solid #cacfd2 !important;
}

/* Buttons and urlbar margins */
.toolbarbutton-1 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.toolbaritem-combined-buttons {
  /* filter: grayscale(100%) !important; */
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

#PlacesToolbarItems {
  justify-content: center !important;
}
